## Exercises

<b>Download the Olympic history dataset from https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results and complete these exercises.</b>

1) Look at 10 rows of the dataset (top or bottom).

In [4]:
import pandas as pd
df_ath = pd.read_csv("/home/muhammadhumza/Downloads/120 years of Olympic history: athletes and results/athlete_events.csv")
df_reg = pd.read_csv("/home/muhammadhumza/Downloads/120 years of Olympic history: athletes and results/noc_regions.csv")
df_ath.head(10)
#data_region.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [11]:
df_ath.shape

(271116, 15)

This dataset stores information about past performances of athletes on Olympic games.

2) Look at the distribution of values (value counts of different values) in the column `'Medal'`.

Notice how the function used sorts values in descending order - it will be useful later on.

In [9]:
df_ath["Medal"].value_counts()

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

3) Check the distribution of `NaNs` across columns. What does the presence of `Nan` mean in each column?

In [14]:
df_ath.isna()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271112,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271113,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271114,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
271115,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

***Answer: NaN means that the column have empty values that are not a number***

4. Calculate participation according to year in sport.

In [15]:
df_ath.groupby(["Year","Sport"])["Name"].value_counts()

Year  Sport      Name
1896  Athletics  Fritz Hofmann                       5
                 Alphonse Grisel                     4
                 Kristian Henrik Rudolf Sjberg       4
                 Robert "Bob" Garrett                4
                 Alajos (Aljoz) Szokoly (-Szokol)    3
                                                    ..
2016  Wrestling  Zsanett Nmeth                       1
                 Zurabi Datunashvili                 1
                 Zurabi Iakobishvili                 1
                 brahim Blkba                        1
                 rif rifov                           1
Name: Name, Length: 188152, dtype: int64

5. Calculate percentage athletes who won gold medal grouping by sport.

In [11]:
#df_ath.groupby(["Sport","Medal"])["Name"].value_counts()
gold_perc = df_ath.loc[df_ath['Medal'] == 'Gold', 'Medal'].count()/df_ath["Medal"].count()
gold_perc = gold_perc *100
gold_perc

df_ath.groupby()
#create a var that will store the series where the key will be sport and the value will be how many gold medalist 
#second var store all medalist.

33.61234698237941

6) Select only the rows describing gold medalists and store them into `gold_df` variable.

7) Calculate the average age of gold medalist.

8) Show top 10 countries with respect to the number of gold medals won.

9) Calculate the number of golden medals of Belgium.

10) Calculate number of Polish gold medals by year.

11) Visualise it using function `plot()`.

12) Select all of the rows describing Polish gold medals in 1972 to analyze the anomaly.

13) Calculate weight to height ratio for every athlete.

14) Create a new column with the average height for a given sex and age of athletes (not only gold medalists). Call it `'typical_height'`.

15) Create a new column `'height_diff'` with the deviation of height from the typical value in the segment.

16) Drop the rows in the dataset where the newly calculated value is `NaN`. How many rows have been dropped?

17) Plot the histogram of this newly calculated column.

18) Verify whether the majority of gold medalists were higher than the typical height of their segment.

19) Calculate the actual percentage of gold medalists higher than the `'typical height'`.

20) Calculate mean age and standard deviation of gold medalists. Compare it with the youngest gold medalist.

21) Add new columns `first_gold` and `last_gold` meaning the first and last years of obtaining a gold medals by an athlete.

22) Add a new column `'gold_span'` with the span in years of achieved gold medals. What is the maximal value of this span?

23) Select the rows describing the history of this athlete/these athletes that reached maximal span.

24. Find top performers in each Olympics (athletes who won the most medals).

25) Who obtained the highest number of silver medals without ever getting a gold one and how many of them?

26. Create a new DataFrame called "gold_medals_one_hot", and fill it with values from the "Medal" column encoded using one-hot method. Explanation and example of one-hot encoding can be found [here](https://en.wikipedia.org/wiki/One-hot)